@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

:root {
  --primary: #e84125;
  --background: #090909;
  --foreground: #dbdbdb;
  --success: #4caf50;
  --warning: #ffc107;
  --error: #f44336;
  --border: rgb(255 255 255 / 0.1);
  --text: #dbdbdb;
  --text-dim: #a0a0a0;
}

@theme inline {
  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --text-primary: var(--text);
  --text-dim: var(--text-dim); 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  color-scheme: dark;
  font-family: 'Google Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

pre,
code,
textarea {
  font-family: "IBM Plex Mono", "SFMono-Regular", "Menlo", monospace;
}
